<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>CFBundleDevelopmentRegion</key>
      <string>en</string> 
      <key>CFBundleIVersion</key>
      <string>v0.3</string>
      <key>CFBundleShortVersionString</key>
      <string>v0.3</string>
      <key>CFBundleIdentifier</key>
      <string>qwiktape</string>
      <key>CFBundlePackageType</key>
      <string>APPL</string>
      <key>CFBundleSignature</key>
      <string>MOOS</string>
      <key>LSMinimumSystemVersion</key>
      <string>10.9</string>
      <key>NSMainNibFile</key>
      <string>MainMenu</string>
      <key>NSPrincipalClass</key>
      <string>NSApplication</string>
      <key>CFBundleName</key>
      <string>qwiktape</string>
      <key>CFBundleExecutable</key>
      <string>qwiktape</string>
      <key>CFBundleIconFile</key>
      <string>qwiktape.icns</string>
    </dict>
    </plist>