@set settings-form
{
  :root {
    padding: 12dip;
    size: *;
    background: #eee;
    overflow-y: scroll;
  }

  :root > form {
    width: *;
    flow: vertical;
    font-family: monospace;
    font-size: 12pt;
  }
  
  :root > form > input {
    width: 4em;
    height: 1.8em;
    line-height: 1.8em;
    margin-bottom: 1em;
  }

  :root > form > select {
    margin-bottom: 1em;
  }

  :root > form > input > caption {
    text-align: center;
    vertical-align: middle;
    line-height: 1.8em;
    padding: 0;
  }

  :root > form > label {
    display: block;
    white-space: wrap;    
  }
  
  :root > form > select {
    font-family: monospace;
    font-size: 10pt;
  }

  :root > button#close {
    stroke-width: 1px;
    foreground-position: 50%;
    foreground-size: 10dip 10dip;

    border-radius: 2dip;
    border: none;
    background: rgba(0,0,0,0.25);
    cursor: pointer;
    foreground-image: url(path:m0 0 2-2m0 2-2-2);
    margin-left: * 0 0 0;
    cursor: pointer;
  }
}