@set main {

  :root {
    flow: horizontal;
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  :root > section.editor {
    size: *;
    min-width: 0.25*;
    overflow: scroll-indicator;
    background: white;
    flow: horizontal;
  }

  :root > section.sidepanel.files {
    width: 220dip;
  }
  :root > section.sidepanel {
    width: 0.30*;
    height: *;
    background: #eee;
    //flow: stack;
  }

  /*body > section.sidepanel > button#close {
    position: relative;
    stroke-width: 1px;
    foreground-position: 50%;
    foreground-size: 10dip 10dip;

    border-radius: 50%;
    background: #eee;
    cursor: pointer;
    foreground-image: url(path:m0 0 2-2m0 2-2-2);
    margin: 1em 0.5em 0 *;
    cursor: pointer;
  }*/

  :root > section.editor > div.controls {
    margin-left: *;
    margin-right: 1em;
    margin-top: 1em;
    flow: vertical;
  }

  :root > section.editor > div.controls > button:hover {
    fill: black;
    background: rgba(0,0,0, 0.25);
    cursor: pointer;
  }
  
  :root > section.editor >  div.controls > button {
    width: 32dip;
    height: 32dip;
    background: 0;
    border: 0;
    border-radius: 2dip;
    foreground-position: 50%;
    fill: gray;
    foreground-size: 24dip 24dip;    
    padding: none;
  }

  :root > section.editor > div.controls  > #settings {
    foreground-image: url(assets/gear.svg);
  }
  
  :root > section.editor >  div.controls  > #pdf {
    foreground-image: url(assets/pdf.svg);
  }
}  